*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root{
  --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #fff;
    --main-color: #61dc14;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
.body{
  background: var(--bg-color);
  color: var(--text-color);
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all.45s ease;
}

.logo{
  color: var(--text-color); 
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

span{
  color: var(--main-color);
}
.navlist{
  display: flex;
}
.navlist a{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}
.navlist a:hover{
  color: var(--main-color);
}
.navlist a.active{
  color: var(--main-color);
}

 #nav-menu{
 background : var(--bg-color);
}

#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section{
  padding: 160px 15% 120px;

}

/* Home Section */

#home{
  margin-top: 6%;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("./assests/Black\ Modern\ Marketing\ Banner.png");

  background-size: cover;
  background-position: center;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.slide{
  margin-bottom: 20px;
}
.one{
  display: inline-block;
  margin-right: 15px;
  height: 32px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color)
}
.two{
  display: inline-block;
  color:var(--second-color);
  font-size: 20px;
  font-weight: 500;

}

.nav-link-home h1{
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;

}
.nav-link-home h3{
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  

}
.nav-link-home p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.1;
  margin-bottom: 40px;
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#resume-link-2{
  display: inline-block;
  padding: 12px 25px 12px 10px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease;
  border:  solid 0px;
}
#resume-link-2:hover{
  transform: scale(0.8);
  transition: transform 0.5s;
}

#resume-link-1{
  border: 0px solid white;
  background:var(--second-color)
}
#user-detail-skill{
  font-size: 45px;
  font-weight: 500;
}


#user-detail-name{
  font-size: 35px;
  font-weight: 800;
}

header.sticky{
  background: var(--bg-color);
  border-bottom:  1px solid #ffffff1a;
  padding:  12px 15%;
}


/* About Section */

.about-img img{
  border: 0px solid crimson;
  max-width: 350px;
  height: 450px;
  width: 350px;
  border-radius: 10%;
  align-items: end;
  box-shadow: var(--main-color) 0px 5px 15px;
}

#about{
  border: 0px solid green;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: center;  
}

.nav-link-about h2{
  font-size: var(--h2-font);
  line-height: 1;
}

.nav-link-about h4{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin:  15px 0 30px;
}

.nav-link-about p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}

/* skills section */
#skills{
  background: var(--second-bg-color);
}

.main-text{
  text-align: center;
}
.main-text p{
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;

}
.main-text h2{
  font-size: var(--h2-font);
  line-height: 1;
}
#skills-part{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}
.skills-card{
  background: var(--bg-color);
  padding: 35px 25px;
  border-radius: 8px;
  transition: all .45s ease;
  /* justify-content: space-evenly; */
  text-align: center;
  justify-content: center;

  box-shadow: var(--main-color) 0px 5px 15px;
}
.skills-card-img i{
  font-size: 32px;
  margin-bottom: 20px;
}
/* #icon{
  border: 0px solid red;
  margin-left: 45%;
} */
.skills-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
  text-align: center;
}
.skills-card p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}
.read{
  display: inline-block;
  padding: 8px 18px;
  background: #333333;
  color: var(--second-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all .45s ease;
}
.read:hover{
  letter-spacing: 1px;
  background: #ffffff99;
  color: var(--text-color);
}
.skills-card:hover{
  transform: translateY(-8px);
  cursor: pointer;
}

/* github section -------------- */
.max-width{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}


#stat {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap:10px;
}
#github-top-langs{
  border: 0px solid crimson;
  height: 195px;
  margin-top: -10%;
  
}

/* Projects */
#nav-link-projects {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 4.5rem;
  margin-top: 2rem;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  /* border: 1px solid red; */
  padding: 3%;
  box-shadow: rgba(62, 240, 46, 0.4) 5px 5px, rgba(85, 240, 46, 0.3) 10px 10px, rgba(91, 240, 46, 0.2) 15px 15px, rgba(56, 240, 46, 0.1) 20px 20px, rgba(46, 240, 65, 0.05) 25px 25px;

  /* height: 500px; */
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.project-title {
  color: var(--main-color);
  text-align: center;
}

#project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(47, 220, 20));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
} */

.layer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}

.layer p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  color: var(--bg-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--main-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.project-card:hover img {
  transform: scale(0.9);
}

.project-card:hover .layer {
  height: 100%;
}

@media screen and (max-width:640px){
  
  #nav-link-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));

  }

}

/* 
.layer h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
} */
/* .layer i{
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */
/* .project-card:hover img{
  transform: scale(1.1);
} */
/* .project-card:hover .layer{
  height: 100%;
} */

/* Github */

.max-width{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

#stat {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap:10px;
}
#github-top-langs{
  border: 0px solid rgb(20, 220, 33);
  height: 195px;
  margin-top: -10%;
  
}

/* contatct */

#contact{
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2.5rem;
}

.nav-link-contact h4{
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.nav-link-contact h2{
  font-size: var(--h2-font);
  line-height: 1;
}
.nav-link-contact p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}
.list{
  margin-bottom: 2.8rem;
}
.list li{
  margin-bottom: 12px;
}
.list li a{
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all .45s ease;
}
.list li a:hover{
  color: var(--text-color);
  transform: translateX(5px);
}
.contact-icons i{
  height:  45px;
  width: 45px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}
.contact-icons i:hover{
  background-color: var(--text-color);
  color: var(--main-color);
}
.contact-form form{
  position: relative;
}
.contact-form form input, form textarea{
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-form textarea{
  resize: none;
  height: 240px;
}
.contact-form .submit{
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all .45s ease;
}
.contact-form .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* End */
.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--bg-color);
}
.last p{
  color: var(--second-color);
  font-size: 14px;
}
.top i{
  padding: 10px;
  border-radius: 8px;
  font-size: 35px;
  color: var(--text-color);
  background: var(--main-color);
}

/* responsive */

@media (max-width:1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;

    }
    .end{
        padding: 15px 3%;
    }
    #calendar{
        width: 100%;
        /* margin: auto;
        margin-top: 50px; */
    }
    .ht1{
        width: 100%;
        
     }
     #github-top-langs{
        border: 0px solid rgb(185, 65, 89);
        height: 195px;
        margin-top: -9%;
      }
     
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
        
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    #home{
        height: 87vh;
    }
    #stat {
        margin-top: 50px;
        display: grid;
        justify-content: space-between;
      }
      #calendar{
        width: 100%;
        /* margin: auto;
        margin-top: 50px; */
    }
    .ht1{
        width: 100%;
        
     }
     #nav-link-projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
       
    }
    #github-top-langs{
        border: 0px solid crimson;
        height: 195px;
        margin-top: 0px;
      }
}
@media (max-width:920px){
    #about{
        grid-template-columns: 1fr;
    }
    .about-img{
        margin: auto;
        order: 2;
        width: 150px;
        height: 220px;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width:100%
    }
    #contact{
        grid-template-columns: 1fr;
    }
    #stat {
        margin-top: 50px;
        display: grid;
        justify-content: space-between;
      }
      #calendar{
        width: 100%;
        /* margin: auto;
        margin-top: 50px; */
    }
    .ht1{
        width: 100%;
        
     }
     #nav-link-projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
       
    }
    
}

/* --------------------------------------menu icons---------------------------------------------------------- */
@media (max-width:840px){

    #menu-icon{
        display: block;
        font-size: 20px;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;

    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top:100%;
    }
    #calendar{
        width: 100%;
        /* margin: auto;
        margin-top: 50px; */
    }
    #stat {
       
        display: grid;
        /* justify-content: space-between; */
      }
     .ht1{
        width: 100%;
        
     }
     #nav-link-projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
       
    }
}



/* dropDown */
.dropdown-toggle {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #35b200;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: #070707;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Style for dropdown item */
.dropdown-item {
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid #16b910;
  color:"green"
}

/* Style for last dropdown item */
.dropdown-item:last-child {
  border-bottom: none;
}


/* type writer effect */
.typewriter-holder {
  width: 280px;
  position: relative;
  display: block;
  margin: auto;
}

.typewriter-holder p {
  position: absolute;
  left: 0;

  font-weight: bold;
  font-size: 20px;
}